# ImageKit Credentials (https://imagekit.io)
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id

# App Endpoints
NEXT_PUBLIC_API_ENDPOINT=http://localhost:3000/api
NEXT_PUBLIC_PROD_API_ENDPOINT=https://your-production-domain.com/api

# Neon Database (PostgreSQL) (https://neon.tech)
DATABASE_URL=postgresql://neondb_owner:your_password@ep-cool-snowflake-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Upstash Redis (Rate Limiting & Caching) (https://upstash.com)
UPSTASH_REDIS_URL=https://your-redis-url.upstash.io
UPSTASH_REDIS_TOKEN=your_redis_token

# NextAuth Secret (Required for authentication session signing)
AUTH_SECRET=4c32b5f7e02b0c9533f81e3519890258d9255cfc7df62002242137be83a54d58
NEXTAUTH_URL=http://localhost:3000

# Upstash QStash (Workflows & Automated Due Reminders) (https://upstash.com)
QSTASH_URL=https://qstash.upstash.io/v2/publish
QSTASH_TOKEN=your_qstash_token

# Resend Token (Automated Email Notifications) (https://resend.com)
RESEND_TOKEN=re_your_resend_token
